# Server
PORT=3005
NODE_ENV=development

# Database
DATABASE_URL=postgresql://postgres:password@postgres-analytics:5432/analytics_db

# RabbitMQ
RABBITMQ_URL=amqp://admin:password@rabbitmq:5672

# Logging
LOG_LEVEL=info
